########################
# Backend
########################

backend/target/
backend/.idea/
backend/*.iml
backend/logs/

########################
# Frontend
########################

frontend/node_modules/
frontend/dist/
frontend/.idea/

########################
# VS Code
########################

.vscode/

########################
# Windows
########################

Thumbs.db

########################
# MacOS
########################

.DS_Store

########################
# Environment
########################

.env